@model ForgotPassword

@{
    ViewData["Title"] = "Forget Password Page";
}



<div class="login-7">
    <div class="container">
        <div class="row login-box">
            <div class="col-lg-5 col-md-12 bg-img none-992 align-self-center">
                <div class="info">
                    <div class="logo clearfix">
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-12 bg-color-16 align-self-center">
                <div class="form-section">
                    <div class="logo-2 clearfix">
                    </div>
                    <h3>Recover your password</h3>
                    <div class="login-inner-form">
                        <form asp-controller="Account" asp-action="ForgotPassword"  method="post">
                            <div class="form-group form-box">
                                <input asp-for="Email" type="email" name="Email" class="input-text" placeholder="Email Address">
                                <i class="flaticon-mail-2"></i>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md btn-theme btn-block">Send Me Email</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>