@{
    ViewData["Title"] = "login Page";
}


<div class="login-7">
    <div class="container">
        <div class="row login-box">
            <div class="col-lg-5 col-md-12 bg-img none-992 align-self-center">
                <div class="info">
                    @*  <div class="logo clearfix">
                    <a href="login-7.html">
                    <img src="~/img/logo-white.svg" alt="logo" width="50" height="50">
                    </a>
                    </div> *@
                    @*  <div class="btn-section clearfix">
                    <a href="login-7.html" class="link-btn active btn-1 default-bg">Login</a>
                    <div class="clearfix"></div>
                    <a href="register-7.html" class="link-btn btn-1">Register</a>
                    </div> *@

                </div>
            </div>
            <div class="col-lg-7 col-md-12 bg-color-16 align-self-center">
                <div class="form-section">
                    <div class="logo-2 clearfix">
                        <a href="login-7.html">
                            <img src="~/img/logo.svg" alt="logo">
                        </a>
                    </div>
                    <h3>Sign into your account</h3>
                    <div class="login-inner-form">
                        <form action="#" method="GET">
                            <div class="form-group form-box">
                                <input type="email" name="email" class="input-text" placeholder="Email Address">
                                <i class="flaticon-mail-2"></i>
                            </div>
                            <div class="form-group form-box">
                                <input type="password" name="Password" class="input-text" placeholder="Password">
                                <i class="flaticon-password"></i>
                            </div>
                            <div class="checkbox clearfix">
                                <div class="form-check checkbox-theme">
                                    <input class="form-check-input" type="checkbox" value="" id="rememberMe">
                                    <label class="form-check-label" for="rememberMe">
                                        Remember me
                                    </label>
                                </div>
                                <a href="@Url.Action("ForgetPassword", "Account")">Forgot Password</a>
                            </div>
                            <div class="form-group mb-0">
                                <button type="submit" class="btn-md btn-theme btn-block">Login</button>
                            </div>
                            <p class="text-forget">Don't have an account?<a href="@Url.Action("signup","Account")"> Register here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
