@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="container mt-4 mb-4 p-3 d-flex justify-content-center profile"> 
    <div class="card p-4"> 
        <div class=" image d-flex flex-column justify-content-center align-items-center">
            <button class="btn btn-secondary"> <img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100" />
                </button> <span class="name mt-3">Name</span> <span class="idd">email</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"> 
                    
                    </div> 
                  
                        <div class=" d-flex mt-2"> <button class="btn1 btn-dark">Edit Profile</button>
                            </div></div>
        <div class="row mt-5">
            <div class="col text-center ">
                <a class="text-white btn-profile p-2" style="display: block;">
                    <img src="~/img/heart.svg" height="35" width="35" style="display: block; margin: 0 auto;" />
                    Favorite
                </a>
            </div>
            <div class="col text-center ">
                <a class="text-white btn-profile p-2" style="display: block;">
                    <img src="~/img/singer.svg" height="35" width="35" style="display: block; margin: 0 auto;" />
                    Followed
                </a>
            </div>
        </div>

                            <div class=" px-2 rounded mt-4 date text-center "> <span class="join">Joined May,2021</span> </div> </div> </div>

