
@* @model YourNamespace.SongsModel *@

<html>
<head>
    <title>Songs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
 
    </style>
</head>
<body>
    <div class="container">
        <h1>Songs</h1>
        <table class="table  table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Singer</th>
                    <th>URL</th>
                    <th>Image</th>
                    <th>Duration</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Song 1</td>
                    <td>Singer 1</td>
                    <td><a href="https://example.com/song2">link</a></td>
                    <td><img src="https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/tim_minchin_piano.jpg" alt="Song 1" width="50" height="50"></td>
                    <td>3:45</td>
                    <td><button class="btn btn-danger" onclick="deleteSong(this)"><img src="~/img/delete.svg" width="20" height="20" /></button></td>
                </tr>
                <tr>
                    <td>Song 2</td>
                    <td>Singer 2</td>
                    <td><a href="https://example.com/song2">link</a></td>
                    <td><img src="https://michael-zhigulin.github.io/mz-codepen-projects/Material%20Design%20UI%20Audio%20Player/tim_minchin_piano.jpg" alt="Song 2" width="50" height="50"></td>
                    <td>4:20</td>
                    <td><button class="btn btn-danger" onclick="deleteSong(this)"><img src="~/img/delete.svg" width="20" height="20" /></button></td>
                </tr>
                <tr>
                    <td>Song 3</td>
                    <td>Singer 3</td>
                    <td><a href="https://example.com/song2">link</a></td>
                    <td><img src="https://example.com/song3.jpg" alt="Song 3" width="50" height="50"></td>
                    <td>2:55</td>
                    <td><button class="btn btn-danger" onclick="deleteSong(this)"><img src="~/img/delete.svg" width="20" height="20" /></button></td>
                </tr>
            </tbody>
        </table>
        <a  class="btn btn-primary"  asp-controller="Admin" asp-action="Addsong">Add song</a>
    </div>

   

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>

    <script>
        function deleteSong(button) {
            var row = button.parentNode.parentNode;
            row.parentNode.removeChild(row);
            // Perform additional delete action here, such as making an AJAX request to delete the song from the server
        }

        
    </script>
</body>
</html>
