:root {
    --primary-color: #34129d;
    --background-color: #373638;
    --text-color: #ffffff;
}

header {
    background-color: rgb(0, 0, 0, 0/86);
}

body {
   background: #403f3f
}
/** Login 7 start **/

.login-7 {
    min-height: 100vh;
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}

    .login-7 .login-inner-form {
        color: var(--text-color);
        position: relative;
    }

    .login-7 .btn-block {
        width: 100%;
        display: block;
        background-color: var(--primary-color);
        ;
    }

    .login-7 .bg-color-16 {
        justify-content: center;
        align-items: center;
        padding: 30px;
        background: var(--background-color);
        ;
    }

    .login-7 .form-section {
        max-width: 400px;
        margin: 0 auto;
        width: 100%;
    }

    .login-7 .form-box {
        width: 100%;
        text-align: center;
    }

    .login-7 .login-inner-form .form-group {
        margin-bottom: 25px;
    }

    .login-7 .login-inner-form .form-box {
        float: left;
        width: 100%;
        position: relative;
    }

    .login-7 .login-inner-form .input-text {
        font-size: 14px;
        outline: none;
        color: var(--text-color);
        border-radius: 3px;
        font-weight: 500;
        border: 1px solid transparent;
        background: #e2e2e2;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .login-7 .login-inner-form img {
        margin-bottom: 5px;
        height: 40px;
    }

    .login-7 .login-inner-form .form-box input {
        float: left;
        width: 100%;
        padding: 11px 45px 11px 20px;
        border-radius: 50px;
    }

    .login-7 .login-inner-form .form-box i {
        position: absolute;
        top: 8px;
        right: 20px;
        font-size: 19px;
        color: var(--text-color);
        
    }

    .login-7 .login-inner-form label {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 5px;
    }

    .login-7 .login-inner-form .forgot {
        margin: 0;
        line-height: 45px;
        color: var(--text-color);
        
        font-size: 15px;
        float: right;
    }

    .login-7 .bg-img {
        padding: 0;
        border-radius: 10px 0 0 10px;
        background: rgba(0, 0, 0, 0.04) url(../img/LBvIpo.webp) top left repeat;
        background-size: cover;
        top: 0;
        bottom: 0;
        opacity: 1;
    }

    .login-7 .login-box {
        background: var(--background-color);
        max-width: 950px;
        margin: 0 auto;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
    }

    .login-7 .info {
        height: 450px;
    }

    .login-7 .login-inner-form .btn-md {
        cursor: pointer;
        padding: 10px 30px 9px 30px;
        height: 45px;
        letter-spacing: 1px;
        font-size: 14px;
        font-weight: 400;
        font-family: 'Open Sans', sans-serif;
        border-radius: 50px;
        color: var(--text-color);
        
    }

    .login-7 .login-inner-form input[type=checkbox], input[type=radio] {
        margin-right: 3px;
    }

    .login-7 .login-inner-form p {
        margin: 0;
        color: var(--text-color);
    }

        .login-7 .login-inner-form p a {
            color: var(--text-color);
        }

    .login-7 .login-inner-form button:focus {
        outline: none;
        outline: 0 auto -webkit-focus-ring-color;
    }

    .login-7 .login-inner-form .btn-theme.focus, .btn-theme:focus {
        box-shadow: none;
    }

    .login-7 .login-inner-form .btn-theme {
        background: var(--primary-color);
        border: none;
        color: var(--text-color);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

        .login-7 .login-inner-form .btn-theme:hover {
            background: #2a0e5f;
        }

    .login-7 .logo {
        height: 30px;
        text-align: left;
        margin: 20px;
    }

        .login-7 .logo img {
            height: 50px;
        }

    .login-7 .logo-2 {
        margin-bottom: 15px;
        display: none;
    }

        .login-7 .logo-2 img {
            height: 30px;
        }

    .login-7 .nav-pills li {
        display: inline-block;
    }

    .login-7 .login-inner-form .checkbox {
        margin-bottom: 25px;
        font-size: 14px;
    }

    .login-7 .login-inner-form .form-check {
        float: left;
        margin-bottom: 0;
    }

        .login-7 .login-inner-form .form-check a {
            color: var(--text-color);
            float: right;
        }

    .login-7 .login-inner-form .form-check-input {
        position: absolute;
        margin-left: 0;
    }

    .login-7 .login-inner-form .form-check label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        margin-left: -25px;
        border: none;
        border-radius: 3px;
        background: var(--background-color);
        
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    }

    .login-7 .login-inner-form .form-check-label {
        padding-left: 25px;
        margin-bottom: 0;
        font-size: 14px;
        color: var(--text-color);
    }

    .login-7 .login-inner-form .checkbox-theme input[type="checkbox"]:checked + label::before {
        color: var(--text-color);
        background: var(--primary-color);
    }

    .login-7 .login-inner-form input[type=checkbox]:checked + label:before {
        font-weight: 300;
        color: var(--text-color);
        line-height: 17px;
        font-size: 14px;
        content: "\2713";
    }

   

    .login-7 .login-inner-form input[type=checkbox], input[type=radio] {
        margin-top: 4px;
    }

    .login-7 .login-inner-form .checkbox a {
        font-size: 14px;
        color: var(--text-color);
        float: right;
        margin-left: 3px;
    }

    .login-7 .text-forget {
        
    }

    .login-7 .form-section {
        text-align: center;
    }

        .login-7 .form-section h3 {
            font-size: 25px;
            margin-bottom: 30px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 400;
            color: var(--text-color);
        }

        .login-7 .form-section .text {
            font-size: 14px;
            margin-top: 25px;
            margin-bottom: 0;
            color: var(--text-color);
        }

            .login-7 .form-section .text a {
                color: var(--text-color);
            }

    .login-7 .social-list {
        bottom: 20px;
        position: absolute;
        left: 0;
        padding: 0;
        margin: 0;
        list-style: none;
    }

        

   

/** MEDIA **/
@media (max-width: 992px) {
    .login-7 .none-992 {
        display: none;
    }

    .login-7 .login-box {
        max-width: 400px;
        margin: 0 auto;
    }

    .login-7 .form-section h3 {
        font-size: 20px;
    }

    .login-7 .logo-2 {
        display: block;
    }

    .login-7 .text {
        display: block;
    }
}

@media (max-width: 768px) {
    .login-7 .bg-color-16 {
        padding: 30px;
    }
}
/** Login 7 end **/



.profile .card {
    width: 350px;
    background-color: var(--background-color);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 12px;
    /*box-shadow: 0px 0px 17px 15px #473f67bf;*/
    box-shadow: 0px 5px 6px 0px #282729bf;
}

.profile .image img {
    transition: all 0.5s
}

.profile .card .image img:hover {
    transform: scale(1.5)
}

.profile .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: #403f3f;
    border: none;
    box-shadow: inset 1px 5px 7px 1px #282729bf;
}

.profile .name {
    color:white;
    font-size: 22px;
    font-weight: bold
}


.profile .idd {
    color: white;
    font-size: 14px;
    font-weight: 600
}

.profile .idd1 {
    font-size: 12px
}

.profile .number {
    font-size: 22px;
    font-weight: bold
}

.profile .follow {
    font-size: 12px;
    font-weight: 500;
    color: white;
}

.profile .btn1 {
    border-radius: 10px;
    height: 40px;
    width: 150px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    box-shadow: 0px 5px 6px 0px #282729bf;
}

.profile .text span {
    font-size: 13px;
    color: white;
    font-weight: 500
}

.profile .icons i {
    font-size: 19px
}

.profile hr .new1 {
    border: 1px solid
}

.profile .join {
    font-size: 14px;
    color: white;
    font-weight: bold
}

.profile .date {
    color: white;
}

.btn-profile {
    box-shadow: 0px 5px 6px 0px #282729bf;
    text-decoration: none;
    border-radius: 10px;
    background: var(--primary-color);
}

