@using Microsoft.AspNetCore.Identity

@inject UserManager<User> UserManager


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/font-awesome/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="assets/fonts/flaticon/font/flaticon.css">
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <!-- Favicon icon -->
    <link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon">

    <!-- Google fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800%7CPoppins:400,500,700,800,900%7CRoboto:100,300,400,400i,500,700">

    <!-- Custom Stylesheet -->

  
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication3.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container-fluid d-flex">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="~/img/spotify.png" width="75" height="75" alt="Spotify Logo" />
                    </a>
                </div>

                <div class="d-flex justify-content-between w-100">
                    <div></div> <!-- Empty div to push the buttons to the right -->
                    <div class="text-center order-2">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a id="logout-btn" asp-controller="Profile" asp-action="Index">Profile</a>
                            @if (User.IsInRole("Admin"))
                            {
                                <a id="logout-btn" asp-controller="AdminHome" asp-action="AdminPanel">Song Panel</a>
                            }

                        }
                        else
                        {
                            <a id="login-btn" asp-controller="Account" asp-action="Login">Login/signup</a>
                        }
                    </div>
                </div>
            </div>
        </nav>
      @*   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a href="#" class="navbar-brand">
                <img src="~/img/spotify.png" width="70" height="70" alt="Spotify Logo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav ml-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a id="logout-btn" class="btn">myProfile</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id="login-btn" class="btn">signup/login</a>
                        </li>
                    }
                </ul>
            </div>
            <div class="d-lg-none ml-auto">
                <ul class="navbar-nav">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a id="logout-btn" class="btn">myProfile</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a id="login-btn" class="btn">signup/login</a>
                        </li>
                    }
                </ul>
            </div>
        </nav> *@
    </header>
    <div >
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/jquery-2.2.0.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/wavesurfer.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
