/* _content/Spotify/Views/Shared/_Layout.cshtml.rz.scp.css */

.navbar[b-ciwr53d3e7] {
    background-color: #333333;
    height:5rem;
    margin-bottom: 0px;
}

.navbar-header[b-ciwr53d3e7] {
    position: fixed;
}

#login-btn[b-ciwr53d3e7] {
    border: none;
    display: inline-grid;
    width: 10rem;
    height: 3rem;
    color: white;
    background-color: #4000ba !important;
    border-radius: 10px;
    text-decoration: none;
    align-content: center;
}

    #login-btn:hover[b-ciwr53d3e7] {
        background-color: #1d006e !important;
    }

#logout-btn[b-ciwr53d3e7] {
    border: none;
    display: inline-grid;
    width: 10rem;
    height: 3rem;
    color: white;
    background-color: #1d006e !important;
    border-radius: 10px;
    text-decoration: none;
    align-content: center;
}

    #logout-btn:hover[b-ciwr53d3e7] {
        background-color: #4000ba !important;
    }
